# Testing directories
test/
**/test/
*.pdf

# Compiled Object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Specific to your Arch Linux environment
# This ignores files with no extension (common for C++ binaries on Linux)
# Note: Use this carefully if you have files without extensions that AREN'T binaries.
!Makefile
!LICENSE
!README.md
# Neovim / Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
*.un~
Undo/
